<div class="container">
  <div>
    <table class="table events-table">
      <tr class="events-table-header">
        <th>Event Name</th>
        <th>Date</th>
        <th>Venue</th>
        <th>City</th>
        <th>State</th>
      </tr>
      <tr *ngFor="let item of events">
        <td>{{ item.name }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.venue.name }}</td>
        <td>{{ item.venue.city }}</td>
        <td>{{ item.venue.state }}</td>
      </tr>
    </table>
  </div>
</div>
